﻿@model EmployeeListViewModel


<h1 class="text-center">@ViewBag.Employed</h1>
@Html.Partial("ChooseEmployeeList")
<table class="table table-sm table-striped text-center">
    <thead>
        <tr>
            <td>Employee ID</td>
            <td>Employee Name</td>
            <td>Start Date</td>
            <td>Salary</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip Code</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Employee e in Model.Employees)
        {
            <tr>
                <td>@e.EmployeeID</td>
                <td>@e.FirstName @e.LastName</td>
                <td>@e.StartDate</td>
                <td>@($"{e.Salary:C2}")</td>
                <td>@e.Email</td>
                <td>@e.Phone</td>
                <td>@e.Address</td>
                <td>@e.City</td>
                <td>@e.State</td>
                <td>@e.Zip</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("~/Views/Shared/PagingInfoPartial.cshtml", Model);