﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid mt-5 pr-5 pl-5">
        <h1 class="alert-heading text-center">Altra Federal Credit Union <br /> Car Loan Information</h1>
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
