﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    @*  Razor block comment
            <div>
                Hello, Home Controller's index view
            </div>
    *@

    <div class="text-center">
        <h3>We're going to have an exciting party</h3>
        <h4>And you are invited</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">RSVP now</a>
    </div>
</body>
</html>
