﻿@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
    <link rel="stylesheet" href="~/css/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    @*
    <div>
        This is the RsvpForm.cshtml View
    </div>
    *@
    <div class="panel panel-success">

        <div class="panel-heading text-center">
            <h4>RSVP</h4>
        </div>
    
        <div class="panel-body">
            <form class="p-a-1" asp-action="RsvpForm" method="post">

                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <p>
                        <label asp-for="Name">Your Name:</label>
                        <input class="form-control" asp-for="Name" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label>Your Email:</label>
                        <input class="form-control" asp-for="Email" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label>Your phone:</label>
                        <input class="form-control" asp-for="Phone" />
                    </p>
                </div>

                <div class="form-group">
                    <p>
                        <label>Will you attend?</label>
                        <select class="form-control" asp-for="WillAttend">
                            <option value="">Choose an option</option>
                            <option value="true">Yes, I'll be there</option>
                            <option value="false">No, I can't come</option>
                        </select>
                    </p>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit RSVP</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
