﻿@model CustomerListViewModel

@{ 
    Layout = "_AdminLayout";
}
<h1 class="text-center">Customers</h1>
<table class="table table-sm table-striped text-center">
    <thead>
        <tr>
            <td>Customer ID</td>
            <td>Customer Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip Code</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Customer c in Model.Customers)
        {
            <tr>
                <td>@c.CustomerID</td>
                <td>@c.FirstName @c.LastName</td>
                <td>@c.Email</td>
                <td>@c.Phone</td>
                <td>@c.Address</td>
                <td>@c.City</td>
                <td>@c.State</td>
                <td>@c.Zip</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("~/Views/Shared/PagingInfoPartial.cshtml", Model);