﻿@model VehicleListViewModel

<h1 class="text-center">All Vehicles Currently In Dealership</h1>
<table class="table table-sm table-striped text-center">
    <thead>
        <tr>
            <td>Vehicle ID</td>
            <td>VIN</td>
            <td>Make</td>
            <td>Model</td>
            <td>Color</td>
            <td>Year</td>
            <td>Miles</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Vehicle v in Model.Vehicles)
        {
        <tr>
            <td>@v.VehicleID</td>
            <td>@v.VIN</td>
            <td>@v.Make</td>
            <td>@v.Model</td>
            <td>@v.Color</td>
            <td>@v.Year</td>
            <td>@v.Miles</td>
            <td>@($"{v.Price:C2}")</td>
        </tr>
        }
    </tbody>
</table>
@Html.Partial("~/Views/Shared/PagingInfoPartial.cshtml", Model);
