﻿@model CheckoutViewModel

@if (Model.Cart.Lines.Count() == 0)
{
    <div class="alert alert-info text-center" role="alert">
        Your cart is currently empty. Add a vehicle to checkout.
    </div>
}
else
{
<div class="text-center">
    <h2>Check out now</h2>
    <p>Enter your details and select which salesperson you would like to work with, and we'll get you on your way to a new car!</p>
</div>


    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Checkout" method="post">
        <h3 class="text-center">Customer Details</h3>

        <div class="form-group">
            <label>First Name:</label>
            <input asp-for="@Model.Invoice.Customer.FirstName" class="form-control" />
        </div>

        <div class="form-group">
            <label>Last Name:</label>
            <input asp-for="@Model.Invoice.Customer.LastName" class="form-control" />
        </div>

        <div class="form-group">
            <label>Email:</label>
            <input asp-for="@Model.Invoice.Customer.Email" class="form-control" />
        </div>

        <div class="form-group">
            <label>Phone number:</label>
            <input asp-for="@Model.Invoice.Customer.Phone" class="form-control" />
        </div>

        <div class="form-group">
            <label>Address:</label>
            <input asp-for="@Model.Invoice.Customer.Address" class="form-control" />
        </div>

        <div class="form-group">
            <label>City:</label>
            <input asp-for="@Model.Invoice.Customer.City" class="form-control" />
        </div>

        <div class="form-group">
            <label>State:</label>
            <input asp-for="@Model.Invoice.Customer.State" class="form-control" />
        </div>

        <div class="form-group">
            <label>Zip Code:</label>
            <input asp-for="@Model.Invoice.Customer.Zip" class="form-control" />
        </div>

        <h3>Choose a salesperson to work with:</h3>
        <select class="custom-select" asp-for="@Model.SelectedEmployeeId" asp-items="@Model.EmployeeListItem"></select>

        <div class="text-center mt-3 mb-3">
            <input class="btn btn-outline-primary" type="submit" value="Purchase Vehicle(s)" />
        </div>

    </form>
}