﻿<div class="alert alert-success text-center" role="alert">
    <h2>Thanks!</h2>
    <p>Thanks for placing your order.</p>
    <p>We'll get you in contact with the salesperson to finalize your order and ship your vehicle(s) to you.</p>
</div>
