﻿@model IEnumerable<NavigationMenuItem>

<nav class="navbar navbar-light bg-light justify-content-around">
    <a asp-controller="Home" asp-action="Index">
        <input type="button" class="btn @(ViewBag.SelectedController == "Home" ? "btn-primary" : "btn-outline-primary")" value="Home" />
    </a>

    @foreach (NavigationMenuItem menuItem in Model)
    {
        <a asp-controller="@menuItem.Controller" asp-action="@menuItem.Action" asp-route-page="@menuItem.PageRoute.ToString()">
            <input type="button" class="btn @(ViewBag.SelectedController == menuItem.Controller ? "btn-primary" : "btn-outline-primary")" value="@menuItem.Value" />
        </a>
    }

    @await Component.InvokeAsync("CartSummary")
</nav>