﻿@model IEnumerable<Author>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Authors</title>
</head>
<body>
    <h1>Authors</h1>
    @foreach (Author a in Model)
    {
        <h2>@a.LastName, @a.FirstName</h2>
        <table>
            <tr>
                <th>Title Name</th>
                <th>Publisher Name</th>
            </tr>
            @foreach (TitleAuthor ta in a.TitleAuthors)
            {
                <tr>
                    <td>@ta.Title.TitleName</td>
                    <td>@ta.Title.Publisher.PublisherName</td>
                </tr>
            }
        </table>
    }
    </body>
</html>