﻿@model Vehicle

<form id="@Model.VehicleID" asp-action="AddToCart" asp-controller="Cart" method="post">
    <input type="hidden" asp-for="VehicleID" />
    <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
    <input type="submit" class="btn btn-outline-primary" value="Add To Cart" />
</form>