﻿@model IEnumerable<CarLoan>

@{
    ViewBag.Title = "Car Loans";
}

<table class="table table-striped text-center">
    <thead class="thead-dark">
        <tr>
            <th>Customer Name</th>
            <th>Initial Loan Amount</th>
            <th>Term</th>
            <th>Rate</th>
            <th>Monthly Payment</th>
            <th>Total Loan Amount After Payments</th>
            <th>Bank Profit</th>
            <th>Loan Start Date</th>
            <th>Loan End Date</th>
            <th>Issuing Loan Officer</th>
            <th>Average Car Loan Rate</th>
            <th>Loan Completed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CarLoan c in Model)
        {
        <tr>
            <td>@c.CustomerName</td>
            <td>@($"{c.InitialLoanAmt:C2}")</td>
            <td>@c.Term</td>
            <td>@($"{(c.Rate / 100).ToString("P")}")</td>
            <td>@($"{c.GetMonthlyPayment():C2}")</td>
            <td>@($"{c.GetTotalLoanAmt():C2}")</td>
            <td>@($"{c.GetBankProfit():C2}")</td>
            <td>@c.LoanStartDate.ToShortDateString()</td>
            <td>@c.GetLoanEndDate().ToShortDateString()</td>
            <td>@c.IssuingLoanOfficer.Name</td>
            <td>@($"{(ViewBag.CurrentAvgLoanRate / 100).ToString("P")}")</td>
            <td>@(c.loanIsDone() ? "Yes" : "No")</td>
        </tr>
        }
    </tbody>
</table>