﻿@model IEnumerable<NavigationMenuItem>

@if (User.Identity.IsAuthenticated)
{
<nav class="navbar navbar-light bg-light justify-content-around mt-3">

    @foreach (NavigationMenuItem menuItem in Model)
    {
        <a asp-controller="@menuItem.Controller" asp-action="@menuItem.Action" asp-route-page="@menuItem.PageRoute.ToString()">
            <input type="button" class="btn btn-outline-primary" value="@menuItem.Value" />
        </a>
    }

    <a class="btn btn-outline-primary" asp-action="Logout" asp-controller="Account">Log Out</a>

</nav>
}
else
{
    <h2 class="text-center">@ViewBag.LoginTitle</h2>
}
