﻿@model IEnumerable<NavigationMenuItem>

<nav class="navbar navbar-light bg-light justify-content-around mt-3">

    @foreach (NavigationMenuItem menuItem in Model)
    {
        <a asp-controller="@menuItem.Controller" asp-action="@menuItem.Action" asp-route-page="@menuItem.PageRoute.ToString()">
            <input type="button" class="btn @(ViewBag.SelectedAction == menuItem.Action ? "btn-primary" : "btn-outline-primary")" value="@menuItem.Value" />
        </a>
    }
</nav>