﻿@model Cart

<div class="align-self-end">
    @if(Model.Lines.Count() > 0)
    {
        <small>
            <b>Your cart:</b>
            @Model.Lines.Count() 
            @if(Model.Lines.Count() == 1) 
            {
                <span>vehicle</span>
            }
            else
            {
                <span>vehicles</span>
            }
            | Total: 
            @($"{Model.ComputeTotalValue():C2}")
        </small>
    }

    <a class="btn btn-outline-primary"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div> 