﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center">Hunter's Car Dealership Information</h1>
        <nav class="navbar navbar-light bg-light">
            <a asp-controller="AllVehicles" asp-action="List" asp-route-page="1">
                <input type="button" class="btn btn-outline-primary" value="All Vehicles In Dealership" />
            </a>

            <a asp-controller="SoldVehicles" asp-action="List" asp-route-page="1">
                <input type="button" class="btn btn-outline-primary" value="Vehicles Sold" />
            </a>

            <a asp-controller="Employees" asp-action="Index">
                <input type="button" class="btn btn-outline-primary" value="Employees" />
            </a>

            <a asp-controller="Customers" asp-action="List" asp-route-page="1">
                <input type="button" class="btn btn-outline-primary" value="Customer List" />
            </a>

            <a asp-controller="Invoices" asp-action="List" asp-route-page="1">
                <input type="button" class="btn btn-outline-primary" value="Invoices" />
            </a>

        </nav>
        <div class="container-fluid mt-4">
            @RenderBody()
        </div>
    </div>
</body>
</html>
