﻿<div class="container text-center mb-5">
    <div page-model="@Model.PagingInfo" page-action="@ViewBag.PageAction"
         page-classes-enabled="true" page-class="btn" page-class-normal="btn-secondary"
         page-class-selected="btn-primary" class="btn-group text-center"></div>
</div>
