﻿@model VehicleListViewModel

<h1 class="text-center">Vehicles sold</h1>
<table class="table table-sm table-striped text-center">
    <thead>
        <tr>
            <td>Vehicle ID</td>
            <td>VIN</td>
            <td>Make</td>
            <td>Model</td>
            <td>Color</td>
            <td>Year</td>
            <td>Miles</td>
            <td>Price</td>
            <td>Invoice ID</td>
            <td>Invoice Date</td>
            <td>Customer Name</td>
            <td>Salesperson Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Vehicle v in Model.Vehicles)
        {
        <tr>
            <td>@v.VehicleID</td>
            <td>@v.VIN</td>
            <td>@v.Make</td>
            <td>@v.Model</td>
            <td>@v.Color</td>
            <td>@v.Year</td>
            <td>@v.Miles</td>
            <td>@($"{v.Price:C2}")</td>
            @foreach (InvoiceDetail invDet in v.InvoiceDetails)
            {
                <td>@invDet.Invoice.InvoiceID</td>
                <td>@invDet.Invoice.InvoiceDate.ToShortDateString()</td>
                <td>@invDet.Invoice.Customer.FirstName @invDet.Invoice.Customer.LastName</td>
                <td>@invDet.Invoice.Employee.FirstName @invDet.Invoice.Employee.LastName</td>
            }
        </tr>
        }
    </tbody>
</table>
@Html.Partial("~/Views/Shared/PagingInfoPartial.cshtml", Model);