﻿@model Cart

<div class="">
    @if(Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(l => l.Quantity) item(s)
            @($"{Model.ComputeTotalValue():C2}")
        </small>
    }

    <a class="btn btn-sm btn-default navbar-btn"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>