﻿@model IEnumerable<string>

<a class="btn btn-block btn-default @(ViewBag.SelectedCategory == null ? "btn-primary" : "btn-default")" asp-action="List" asp-controller="Product" asp-route-category="" asp-route-page="1">
    Home
</a>

@foreach(string category in Model)
{
    <a class="btn btn-block btn-default @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-default")" asp-action="List" asp-controller="Product" asp-route-category=@category asp-route-page="1">
        @category
    </a>
}