﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center">Hunter's Car Dealership</h1>
        @await Component.InvokeAsync("NavigationMenu") 
        <div class="container-fluid mt-4">
            @RenderBody()
        </div>
    </div>

</body>
</html>
