﻿@model CartIndexViewModel

<h2>Your Cart</h2> 
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach(CartLine cartLine in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@cartLine.Quantity</td>
            <td class="text-left">@cartLine.Product.Name</td>
            <td class="text-right">@($"{cartLine.Product.Price:C2}")</td>
            <td class="text-center">@($"{cartLine.Product.Price * cartLine.Quantity:C2}")</td>

            <td>
                <form asp-action="RemoveFromCart" method="post">
                    <input type="hidden" name="productId" value="@cartLine.Product.ProductID"/>
                    <input type="hidden" name="returnURL" value="@Model.ReturnUrl"/>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Remove
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @($"{Model.Cart.ComputeTotalValue():C2}")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>

    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">
        Checkout
    </a>
</div>