﻿@model InvoiceListViewModel

@{ 
    Layout = "_AdminLayout";
}

<h1 class="text-center">Invoices</h1>
@await Component.InvokeAsync("InvoiceSortMenu")
<table class="table table-sm table-striped text-center">
    <thead>
        <tr>
            <td>Invoice ID</td>
            <td>Invoice Date</td>
            <td>Customer Name</td>
            <td>Salesperson Name</td>
            <td>Invoice Total Amount</td>
            <td>Cars Sold</td>
            <td>Cars Shipped</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Invoice i in Model.Invoices)
        {
            <tr>
                <td>@i.InvoiceID</td>
                <td>@i.InvoiceDate.ToShortDateString()</td>
                <td>@i.Customer.FirstName @i.Customer.LastName</td>
                <td>@i.Employee.FirstName @i.Employee.LastName</td>
                <td>@($"{i.InvoiceDetails.Sum(i => i.Vehicle.Price):C2}")</td>
                <td>
                    <ul class="list-group">
                        @foreach (InvoiceDetail invDet in i.InvoiceDetails)
                        {
                            <li class="list-group-item list-group-item-primary">@($"{invDet.Vehicle.Price:C2}") @invDet.Vehicle.Year @invDet.Vehicle.Make @invDet.Vehicle.Model | VIN: @invDet.Vehicle.VIN</li>
                        }
                    </ul>
                </td>
                <td>
                    @if (i.Shipped)
                    {
                        <h4 class="text-success">&#10003;</h4>
                    }
                    else
                    {
                        <h4 class="text-danger">X</h4>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("~/Views/Shared/PagingInfoPartial.cshtml", Model);