﻿@model Product

<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">
            @($"{Model.Price:C2}")
        </span>
    </h3>

    <span class="lead">@Model.Description</span>
</div>