﻿@model IEnumerable<Employee>

<div class="container justify-content-center mb-3">
    <h4 class="text-center">Sort invoices by Salesperson (select salesperson to view their invoices)</h4>
    @foreach(Employee emp in Model)
    {
        <a class="btn ml-2 mr-2 @(emp.EmployeeID.ToString() == ViewBag.SelectedSalesPerson ? "btn-primary" : "btn-outline-primary")" asp-action="List" asp-controller="Invoices" asp-route-salespersonId="@emp.EmployeeID" asp-route-page="1">
            @emp.FirstName @emp.LastName
        </a>
    }
</div>