﻿@using Microsoft.AspNetCore.Http.Extensions

@{ 
    string pageUrl = Context.Request.GetDisplayUrl();
}

<div class="text-center mt-3 mb-3">
    <a asp-controller="Employees" asp-action="ListEmployed" asp-route-page="1">
        <input type="button" class="@(pageUrl.ToLower().Contains("employees/currently") ? "btn btn-primary" : "btn btn-outline-primary")" value="View Currently Employed Here" />
    </a>
    <a asp-controller="Employees" asp-action="ListNotEmployed" asp-route-page="1">
        <input type="button" class="@(pageUrl.ToLower().Contains("employees/not") ? "btn btn-primary" : "btn btn-outline-primary")" value="View Not Currently Employed Here" />
    </a>
</div>