﻿@model Vehicle

@{ 
    Layout = "_AdminLayout";
}

<div class="container">
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="VehicleID" />

        <div class="form-group">
            <label asp-for="VIN"></label>
            <div>
                <span asp-validation-for="VIN" class="text-danger"></span>
            </div>
            <input asp-for="VIN" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Make"></label>
            <div>
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <input asp-for="Make" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Model"></label>
            <div>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <input asp-for="Model" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Year"></label>
            <div>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <input asp-for="Year" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Miles"></label>
            <div>
                <span asp-validation-for="Miles" class="text-danger"></span>
            </div>
            <input asp-for="Miles" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Color"></label>
            <div>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <input asp-for="Color" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Price"></label>
            <div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <input asp-for="Price" class="form-control" />
        </div>

        <div class="text-center mb-3">
            <button class="btn btn-outline-success" type="submit">Save</button>
            <a asp-action="VehicleList" class="btn btn-outline-warning">Cancel</a>
        </div>
    </form>
</div>
