﻿@model IEnumerable<Title>

<!DOCTYPE html>
<html>
<head>
    <title>Titles</title>
</head>
<body>
    <h1>Titles</h1>
    <table>
        <tr>
            <td>Title Name</td>
            <td>Pages</td>
            <td>Price</td>
            <td>Sales</td>
        </tr>
        @foreach(Title t in Model)
        {
        <tr>
            <td>@t.TitleName</td>
            <td>@(t.Pages ?? 0)</td>
            <td>@(t.Price != null ? $"{t.Price:C2}" : "$0.00")</td>
            <td>@(t.Sales ?? 0)</td>
        </tr>
        }
    </table>
</body>
</html>