﻿@using Microsoft.AspNetCore.Http.Extensions

@{
    string pageUrl = Context.Request.GetDisplayUrl();
}

<div class="text-center mt-3 mb-3">
    <a asp-controller="SoldVehicles" asp-action="List" asp-route-page="1" asp-route-shipped=@true>
        <input type="button" class="@(pageUrl.ToLower().Contains("soldvehicles/shipped_true") ? "btn btn-primary" : "btn btn-outline-primary")" value="View Shipped Vehicles" />
    </a>
    <a asp-controller="SoldVehicles" asp-action="List" asp-route-page="1" asp-route-shipped=@false>
        <input type="button" class="@(pageUrl.ToLower().Contains("soldvehicles/shipped_false") ? "btn btn-primary" : "btn btn-outline-primary")" value="View Vehicles Not Shipped Yet" />
    </a>
</div>