﻿@model VehicleListViewModel

@{ 
    Layout = "_AdminLayout";
}

<h1 class="text-center">Vehicles sold | @ViewBag.ShippedStatus</h1>
@Html.Partial("ChooseShippedVehiclesPartial")

@if (Model.Vehicles.Count() > 0)
{
    <table class="table table-sm table-striped text-center">
        <thead>
            <tr>
                <td>Vehicle ID</td>
                <td>VIN</td>
                <td>Make</td>
                <td>Model</td>
                <td>Color</td>
                <td>Year</td>
                <td>Miles</td>
                <td>Price</td>
                <td>Invoice ID</td>
                <td>Invoice Date</td>
                <td>Customer Name</td>
                <td>Salesperson Name</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Vehicle v in Model.Vehicles)
            {
                <tr>
                    <td>@v.VehicleID</td>
                    <td>@v.VIN</td>
                    <td>@v.Make</td>
                    <td>@v.Model</td>
                    <td>@v.Color</td>
                    <td>@v.Year</td>
                    <td>@v.Miles</td>
                    <td>@($"{v.Price:C2}")</td>
                    @foreach (InvoiceDetail invDet in v.InvoiceDetails)
                    {
                        <td>@invDet.Invoice.InvoiceID</td>
                        <td>@invDet.Invoice.InvoiceDate.ToShortDateString()</td>
                        <td>@invDet.Invoice.Customer.FirstName @invDet.Invoice.Customer.LastName</td>
                        <td>@invDet.Invoice.Employee.FirstName @invDet.Invoice.Employee.LastName</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("~/Views/Shared/PagingInfoPartial.cshtml", Model);
}
else
{
    <div class="alert alert-info text-center" role="alert">
        No vehicles found that were
        @{ string s = ViewBag.ShippedStatus;
            @s.ToLower()
        }
    </div>
}