﻿@model CartIndexViewModel

<h1 class="text-center">Your Cart</h1>
@if (Model.Cart.Lines.Count() == 0)
{
    <div class="alert alert-info text-center" role="alert">
        Your cart is currently empty.
    </div>
}
else
{
    <table class="table table-sm table-striped text-center mt-3">
        <thead>
            <tr>
                <td>Make</td>
                <td>Model</td>
                <td>Year</td>
                <td>Color</td>
                <td>Miles</td>
                <td>Price</td>
                <td>VIN</td>
            </tr>
        </thead>
        <tbody>
            @foreach (CartLine c in Model.Cart.Lines)
            {
                <tr>
                    <td>@c.Vehicle.Make</td>
                    <td>@c.Vehicle.Model</td>
                    <td>@c.Vehicle.Year</td>
                    <td>@c.Vehicle.Color</td>
                    <td>@c.Vehicle.Miles</td>
                    <td>@($"{c.Vehicle.Price:C2}")</td>
                    <td>@c.Vehicle.VIN</td>

                    <td>
                        <form asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="vehicleId" value="@c.Vehicle.VehicleID" />
                            <input type="hidden" name="returnURL" value="@Model.ReturnUrl" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                Remove From Cart
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-right">Total: @($"{Model.Cart.ComputeTotalValue():C2}")</td>
            </tr>
        </tfoot>
    </table>
}

<div class="text-center mb-3 mt-3">
    <a class="btn btn-outline-primary" href="@(Model.ReturnUrl != null ? Model.ReturnUrl : "/AllVehicles/Page1")">Continue Shopping</a>

    @if (Model.Cart.Lines.Count() > 0)
    {
        <a class="btn btn-outline-primary" asp-action="Checkout" asp-controller="Order">
            Checkout
        </a>
    }

</div>