﻿@model IEnumerable<Employee>

<div class="container-fluid text-center justify-content-center mb-3">
    <h4 class="text-center">Sort invoices by Salesperson (select salesperson to view their invoices)</h4>
    <a class="btn @(ViewBag.SelectedSalesPerson == "0" || ViewBag.SelectedSalesPerson == null ? "btn-primary" : "btn-outline-primary")" asp-action="@ViewBag.PageAction" asp-controller="@ViewBag.SelectedController" asp-route-salespersonId="0" asp-route-page="1">
        All
    </a>
    @foreach(Employee emp in Model)
    {
        <a class="btn ml-2 mr-2 @(emp.EmployeeID.ToString() == ViewBag.SelectedSalesPerson ? "btn-primary" : "btn-outline-primary")" asp-action="@ViewBag.PageAction" asp-controller="@ViewBag.SelectedController" asp-route-salespersonId="@emp.EmployeeID" asp-route-page="1">
            @emp.FirstName @emp.LastName
        </a>
    }
</div>