﻿@model VINSearchViewModel
@{ 
    Layout = "_AdminLayout";
}

<div class="container">
    @if (TempData["VinSearchError"] != null)
    {
        <div class="alert alert-danger alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @TempData["VinSearchError"]
        </div>
    }
    <div class="row justify-content-center">
        <form asp-action="GetVINInfo" method="post" class="form-inline">
            <input type="hidden" asp-for="Vehicle" />
            <input type="text" asp-for="VINToSearch" class="form-control mr-2 col-8" placeholder="VIN" maxlength="17" />
            <button class="btn btn-outline-success mr-2" type="submit">Search</button>
            <span asp-validation-for="VINToSearch" class="text-danger"></span>
        </form>
    </div>

    @if (Model.VehicleInfoString != "")
    {
        <div class="container" style="max-width:50%">
            <div class="alert alert-success  mt-5" style="white-space: pre-wrap">
                @Model.VehicleInfoString
            </div>
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Vehicle.VIN" />
                <input type="hidden" asp-for="Vehicle.Year" />
                <input type="hidden" asp-for="Vehicle.Make" />
                <input type="hidden" asp-for="Vehicle.Model" />
                <button class="btn btn-outline-primary">Add Vehicle To Dealership</button>
            </form>

        </div>

    }

</div>