﻿@model InvoiceListViewModel

@{
    Layout = "_AdminLayout";
}

<h1 class="text-center">Invoices Not Shipped</h1>
@await Component.InvokeAsync("InvoiceSortMenu")
@if (Model.Invoices.Count() > 0)
{
    <table class="table table-sm table-striped text-center">
        <thead>
            <tr>
                <td>Invoice ID</td>
                <td>Invoice Date</td>
                <td>Customer Name</td>
                <td>Salesperson Name</td>
                <td>Invoice Total Amount</td>
                <td>Cars Sold</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Invoice i in Model.Invoices)
            {
                <tr>
                    <td>@i.InvoiceID</td>
                    <td>@i.InvoiceDate.ToShortDateString()</td>
                    <td>@i.Customer.FirstName @i.Customer.LastName</td>
                    <td>@i.Employee.FirstName @i.Employee.LastName</td>
                    <td>@($"{i.InvoiceDetails.Sum(i => i.Vehicle.Price):C2}")</td>
                    <td>
                        <ul class="list-group">
                            @foreach (InvoiceDetail invDet in i.InvoiceDetails)
                            {
                                <li class="list-group-item list-group-item-primary">@($"{invDet.Vehicle.Price:C2}") @invDet.Vehicle.Year @invDet.Vehicle.Make @invDet.Vehicle.Model | VIN: @invDet.Vehicle.VIN</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <form asp-action="MarkShipped" method="post">
                            <input type="hidden" name="invoiceId" value="@i.InvoiceID" />
                            <button type="submit" class="btn btn-success">Vehicles on Invoice Shipped</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("~/Views/Shared/PagingInfoPartial.cshtml", Model);
}
else
{
    <div class="alert alert-success text-center" role="alert">
        All vehicles in an invoice have been shipped
    </div>
}