﻿@model VehicleListViewModel

@{
    Layout = "_AdminLayout";
}

<h1 class="text-center">Edit Vehicles in Dealership</h1>
<table class="table table-sm table-striped text-center mt-3">
    <thead>
        <tr>
            <td>Vehicle ID</td>
            <td>VIN</td>
            <td>Make</td>
            <td>Model</td>
            <td>Color</td>
            <td>Year</td>
            <td>Miles</td>
            <td>Price</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Vehicle v in Model.Vehicles)
        {
            <tr>
                <td>@v.VehicleID</td>
                <td>@v.VIN</td>
                <td>@v.Make</td>
                <td>@v.Model</td>
                <td>@v.Color</td>
                <td>@v.Year</td>
                <td>@v.Miles</td>
                <td>@($"{v.Price:C2}")</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <a asp-action="Edit" class="btn btn-outline-warning" asp-route-vehicleId="@v.VehicleID">Edit</a>

                        <input type="hidden" name="vehicleId" value="@v.VehicleID" />
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
@Html.Partial("~/Views/Shared/PagingInfoPartial.cshtml", Model);

<div class="text-center mb-3">
    <a asp-action="Create" class="btn btn-outline-success">Add Vehicle</a>
</div>